@import "../../node_modules/bulma/bulma.sass";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(to right, #003459, #085082);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-panel {
  height: 100%;
  padding: 10px;
  background: #212121;
  color: #ffff;
}

.match-container {
  text-align: center;
  padding: 50px;
}

.match {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 80px;
  background: #ffff;
  margin-bottom: 20px;

  span {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.victory {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // background: linear-gradient(to right, #37b35b, #108230);
}

.defeat {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // background: linear-gradient(to right, #d24040, #c12323);
}

.radiant {
  background: linear-gradient(to right, #37b35b, #108230);
}

.dire {
  background: linear-gradient(to right, #d24040, #a01818);
}

.hero {
  width: 80px;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 12px;
}

.hero .name {
  padding-bottom: 5px;
}