$title-color: #ffffff;

@import "../../node_modules/bulma/bulma.sass";

.player-search {
    .search-title {
        margin-bottom: 20px;
    }

    .search-input-div {
        margin-bottom: 20px;
    }

    .search-result {
        padding-top: 20px;

        .player {
            cursor: pointer;
        }
    }
    
    .search-button {
        width: 50px;
    }
}
